<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="orderWsvcSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="orderWsvcSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="orderWsvcSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://p-order.ws.ponparemall.com/1_4_0/services/orderWsvc.orderWsvcHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="orderWsvcSoap11Binding"
                contract="OrderWsvc.orderWsvcPortType" name="orderWsvcHttpsSoap11Endpoint" />
            <endpoint address="https://p-order.ws.ponparemall.com/1_4_0/services/orderWsvc.orderWsvcHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="orderWsvcSoap12Binding"
                contract="OrderWsvc.orderWsvcPortType" name="orderWsvcHttpsSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>