<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<security mode="TransportCredentialOnly" >
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
</security>-->
    <startup> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>


</configuration>
