 BEGIN TRY 
 Drop Procedure dbo.[D_RakutenJuchuu_Insert]
END try
BEGIN CATCH END CATCH 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[D_RakutenJuchuu_Insert](
	-- Add the parameters for the stored procedure here
	@JuChuuXml  xml,
	@Operator  varchar(10),
	@InsertDateTime  datetime)
AS
BEGIN
CREATE TABLE [dbo].[#tempJuChuu]
(
				InportSEQ Int,
				StoreCD		varchar(4),
				APIKey			tinyInt,
				InportSEQRows	Int,
				orderNumber		varchar(50) collate Japanese_CI_AS,
				orderProgress	Int,
				subStatusId		Int,
				subStatusName	varchar(255) collate Japanese_CI_AS,
				orderDatetime			datetime,
				shopOrderCfmDatetime	datetime,	
				orderFixDatetime		datetime,
				shippingInstDatetime	datetime,
				shippingCmplRptDatetime	datetime,
				cancelDueDate	date,	
				deliveryDate	date,
				shippingTerm	int,
				remarks				varchar(8000) collate Japanese_CI_AS,	
				giftCheckFlag		tinyint,
				severalSenderFlag	tinyint,
				equalSenderFlag		tinyint,
				isolatedIslandFlag	tinyint,
				rakutenMemberFlag	tinyint,
				carrierCode			tinyint,
				emailCarrierCode	tinyint,
				orderType			tinyint,
				reserveNumber		varchar(382) collate Japanese_CI_AS,
				reserveDeliveryCount	int,
				cautionDisplayType	tinyint,
				rakutenConfirmFlag	tinyint,
				goodsPrice			money,
				goodsTax		    money,
				postagePrice	    money,
				deliveryPrice	    money,
				paymentCharge		varchar(30) collate Japanese_CI_AS,
				totalPrice			money,
				requestPrice		money,
				couponAllTotalPrice	money,
				couponShopPrice		money,
				couponOtherPrice	money,
				additionalFeeOccurAmountToUser	money,
				additionalFeeOccurAmountToShop	money,
				asurakuFlag			tinyint,
				drugFlag			tinyint,
				dealFlag			tinyint,
				membershipType		tinyint,
				memo				varchar(96) collate Japanese_CI_AS,
				operator			varchar(382) collate Japanese_CI_AS,
				mailPlugSentence	varchar(3072) collate Japanese_CI_AS,
				modifyFlag			tinyint,
				isTaxRecalc			tinyint,
				zipCode1			varchar(3),
				zipCode2			varchar(4),
				prefecture			varchar(50),
				city				varchar(50),
				subAddress			varchar(100) collate Japanese_CI_AS,
				familyName			varchar(20) collate Japanese_CI_AS,
				firstName			varchar(20) collate Japanese_CI_AS,
				familyNameKana		varchar(20) collate Japanese_CI_AS,
				firstNameKana		varchar(20) collate Japanese_CI_AS,
				phoneNumber1		varchar(5) collate Japanese_CI_AS,
				phoneNumber2		varchar(5) collate Japanese_CI_AS,
				phoneNumber3		varchar(5) collate Japanese_CI_AS,
				emailAddress		varchar(10) collate Japanese_CI_AS,
				sex					varchar(100) collate Japanese_CI_AS,
				birthYear			int,
				birthMonth			int,
				birthDay			int,
				settlementMethod	varchar(50) collate Japanese_CI_AS,
				rpaySettlementFlag tinyint,
				cardName			varchar(50) collate Japanese_CI_AS,
				cardNumber			varchar(50) collate Japanese_CI_AS,
				cardOwner			varchar(50) collate Japanese_CI_AS,
				cardYm				varchar(20) collate Japanese_CI_AS,
				cardPayType			tinyint,
				cardInstallmentDesc	varchar(10) collate Japanese_CI_AS,
				usedPoint			money,
				deliveryName		varchar(50) collate Japanese_CI_AS,
				deliveryClass		tinyint,
				wrappingtitle1		tinyint,
				wrappingname1		varchar(400) collate Japanese_CI_AS,
				wrappingprice1		money,
				wrappingincludeTaxFlag1		 tinyint,
				wrappingdeleteWrappingFlag1	 tinyint,
				wrappingtitle2				 tinyint,
				wrappingname2		varchar(400) collate Japanese_CI_AS,	
				wrappingprice2		money,
				wrappingincludeTaxFlag2		tinyint	,
				wrappingdeleteWrappingFlag2	tinyint)
	
	declare @DocHandle int

	exec sp_xml_preparedocument @DocHandle output, @JuChuuXml
	insert into #tempJuChuu
	select * FROM OPENXML (@DocHandle, '/NewDataSet/test',2)
			with
			(
				InportSEQ Int,
				StoreCD		varchar(4),
				APIKey			tinyInt,
				InportSEQRows	Int,
				orderNumber		varchar(50),
				orderProgress	Int,
				subStatusId		Int,
				subStatusName	varchar(255),
				orderDatetime			datetime,
				shopOrderCfmDatetime	datetime,	
				orderFixDatetime		datetime,
				shippingInstDatetime	datetime,
				shippingCmplRptDatetime	datetime,
				cancelDueDate	date,	
				deliveryDate	date,
				shippingTerm	int,
				remarks				varchar(8000),	
				giftCheckFlag		tinyint,
				severalSenderFlag	tinyint,
				equalSenderFlag		tinyint,
				isolatedIslandFlag	tinyint,
				rakutenMemberFlag	tinyint,
				carrierCode			tinyint,
				emailCarrierCode	tinyint,
				orderType			tinyint,
				reserveNumber		varchar(382),
				reserveDeliveryCount	int,
				cautionDisplayType	tinyint,
				rakutenConfirmFlag	tinyint,
				goodsPrice			money,
				goodsTax		    money,
				postagePrice	    money,
				deliveryPrice	    money,
				paymentCharge		varchar(30),
				totalPrice			money,
				requestPrice		money,
				couponAllTotalPrice	money,
				couponShopPrice		money,
				couponOtherPrice	money,
				additionalFeeOccurAmountToUser	money,
				additionalFeeOccurAmountToShop	money,
				asurakuFlag			tinyint,
				drugFlag			tinyint,
				dealFlag			tinyint,
				membershipType		tinyint,
				memo				varchar(96),
				operator			varchar(382),
				mailPlugSentence	varchar(3072),
				modifyFlag			tinyint,
				isTaxRecalc			tinyint,
				zipCode1			varchar(3),
				zipCode2			varchar(4),
				prefecture			varchar(50),
				city				varchar(50),
				subAddress			varchar(100),
				familyName			varchar(20),
				firstName			varchar(20),
				familyNameKana		varchar(20),
				firstNameKana		varchar(20),
				phoneNumber1		varchar(5),
				phoneNumber2		varchar(5),
				phoneNumber3		varchar(5),
				emailAddress		varchar(10),
				sex					varchar(100),
				birthYear			int,
				birthMonth			int,
				birthDay			int,
				settlementMethod	varchar(50),
				rpaySettlementFlag tinyint,
				cardName			varchar(50),
				cardNumber			varchar(50),
				cardOwner			varchar(50),
				cardYm				varchar(20),
				cardPayType			tinyint,
				cardInstallmentDesc	varchar(10),
				usedPoint			money,
				deliveryName		varchar(50),
				deliveryClass		tinyint,
				wrappingtitle1		tinyint,
				wrappingname1		varchar(400),
				wrappingprice1		money,
				wrappingincludeTaxFlag1		 tinyint,
				wrappingdeleteWrappingFlag1	 tinyint,
				wrappingtitle2				 tinyint,
				wrappingname2		varchar(400),	
				wrappingprice2		money,
				wrappingincludeTaxFlag2		tinyint	,
				wrappingdeleteWrappingFlag2	tinyint
				
			)
			exec sp_xml_removedocument @DocHandle;

			INSERT INTO D_RakutenJuchuu(InportSEQ,StoreCD,APIKey,InportSEQRows ,orderNumber,orderProgress ,subStatusId,subStatusName ,orderDatetime ,shopOrderCfmDatetime,
			orderFixDatetime,shippingInstDatetime,shippingCmplRptDatetime,cancelDueDate,deliveryDate ,shippingTerm ,remarks,giftCheckFlag,severalSenderFlag,equalSenderFlag,
			isolatedIslandFlag,rakutenMemberFlag,carrierCode,emailCarrierCode ,orderType,reserveNumber,reserveDeliveryCount,cautionDisplayType,rakutenConfirmFlag ,goodsPrice,
			goodsTax,postagePrice ,deliveryPrice,paymentCharge,totalPrice,requestPrice,couponAllTotalPrice,couponShopPrice,couponOtherPrice ,additionalFeeOccurAmountToUser ,
			additionalFeeOccurAmountToShop ,asurakuFlag ,drugFlag,dealFlag,membershipType,memo,operator,mailPlugSentence ,modifyFlag ,isTaxRecalc,
			zipCode1,zipCode2,prefecture,city,subAddress,familyName,firstName,familyNameKana,firstNameKana,phoneNumber1,
			phoneNumber2,phoneNumber3 ,emailAddress,sex,birthYear,birthMonth,birthDay,settlementMethod ,rpaySettlementFlag,cardName,
			cardNumber,cardOwner,cardYm,cardPayType,cardInstallmentDesc,usedPoint,deliveryName ,deliveryClass,wrappingtitle1,wrappingname1,
			wrappingprice1,wrappingincludeTaxFlag1,wrappingdeleteWrappingFlag1,wrappingtitle2,wrappingname2 ,wrappingprice2,wrappingincludeTaxFlag2,wrappingdeleteWrappingFlag2,InsertOperator,InsertDateTime,
			UpdateOperator,UpdateDateTime)
			select InportSEQ,StoreCD,APIKey,InportSEQRows ,orderNumber,orderProgress ,subStatusId,subStatusName ,orderDatetime ,shopOrderCfmDatetime,
			orderFixDatetime,shippingInstDatetime,shippingCmplRptDatetime,cancelDueDate,deliveryDate ,shippingTerm ,remarks,giftCheckFlag,severalSenderFlag,equalSenderFlag,
			isolatedIslandFlag,rakutenMemberFlag,carrierCode,emailCarrierCode ,orderType,reserveNumber,reserveDeliveryCount,cautionDisplayType,rakutenConfirmFlag ,goodsPrice ,
			goodsTax,postagePrice ,deliveryPrice,paymentCharge,totalPrice,requestPrice,couponAllTotalPrice,couponShopPrice,couponOtherPrice ,additionalFeeOccurAmountToUser ,
			additionalFeeOccurAmountToShop ,asurakuFlag ,drugFlag,dealFlag,membershipType,memo,operator,mailPlugSentence ,modifyFlag ,isTaxRecalc,
			zipCode1,zipCode2,prefecture,city,subAddress,familyName,firstName,familyNameKana,firstNameKana,phoneNumber1,
			phoneNumber2 ,phoneNumber3 ,emailAddress,sex,birthYear,birthMonth,birthDay,settlementMethod ,rpaySettlementFlag,cardName,
			cardNumber,cardOwner,cardYm,cardPayType,cardInstallmentDesc,usedPoint,deliveryName ,deliveryClass,wrappingtitle1,wrappingname1,
			wrappingprice1,wrappingincludeTaxFlag1,wrappingdeleteWrappingFlag1,wrappingtitle2,wrappingname2 ,wrappingprice2,wrappingincludeTaxFlag2,wrappingdeleteWrappingFlag2,@Operator,@InsertDateTime,
			@Operator,@InsertDateTime
			from #tempJuChuu

	
	drop table #tempJuChuu
End

