 BEGIN TRY 
 Drop Procedure dbo.[M_StoreAuthorization_Select]
END try
BEGIN CATCH END CATCH 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[M_StoreAuthorization_Select]
	-- Add the parameters for the stored procedure here
	@AuthorizationsCD as varchar(4),
	@ChangeDate as Date,
	@StoreCD as varchar(4)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * 
	From M_StoreAuthorizationS msa 
	Where msa.StoreAuthorizationsCD = @AuthorizationsCD and 
	msa.ChangeDate = @ChangeDate and 
	msa.StoreCD = @StoreCD 
END

