<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="PickingNyuuryoku.Properties.Settings.SMSTestConnectionString" connectionString="Data Source=LAPTOP-ECK5F7AT\SQLEXPRESS;Initial Catalog=SMSTest;Persist Security Info=True;User ID=sa;Password=manager" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
